.headerBar {
    width: 100%;
    height: 60px;
    display: flex;
    background: #303a4f;
    -webkit-box-shadow: 0 3px 15px #afafaf;
    -moz-box-shadow: 0 3px 15px #afafaf;
    box-shadow: 0 3px 20px #afafaf;
}

.sidebarPlug {
    width: 250px;
    display: inline-block;
}
