.mainDiv {
    margin: 0 auto;
    width: 336px;
    font-size: 34px;
    text-align: center;
}

.homeBoard {
    font-size: 79px;
    margin-top: 50px;
    text-align: center;
}

.welcomeText {
    margin-top: 30px;
}