.sidebar {
    height: 100%;
    display: inline-block;
    /*background: linear-gradient(180deg,#303a4f,#2a3345);*/
    background: #303a4f;
    width: 250px;
    position: absolute;
}

.btn {
    width: 100%;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
}

.btn:hover {
    border:none;
    background-color: #364159;
}

.btn:focus {
    box-shadow: none;
}

.btn:active {
    border: none;
    background-color: #364159;
}

.btnTxt {
    color: white;
    position: relative;
    left: 30px;
    vertical-align: text-bottom;
    font-size: 14px;
    line-height: 24px;
    vertical-align: bottom;
}

.btnIco {
    font-size: 16px;
}

.logoContainer {
    display: flex;
    padding: 30px 30px 20px 30px;
}

.logo {
    width: 180px;
    margin: 0 auto;
}

.ulStyle {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.liParentStyle {
    padding: 7px 30px;
    list-style-type: none;
}

.linkStyle:hover {
    text-decoration: none;
    color: white;
}

.listItemStyle {
    padding: 15px 15px 15px 50px;
    font-size: 14px;
}

.listItemStyle:hover {
    background-color: #3c4862;
}

.secondarySection {
    display: table-cell;
    vertical-align: bottom;
}

.primarySection {

}

.navigationSection {

}
